!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title EasyShelf
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    %script{:charset => "utf-8", :type => "text/javascript"}
      :cdata
        $(function(){
        $.material.init();
        });
    = render partial: 'review/header'
    .container
      .row
        .col-lg-12
          = bootstrap_flash
          = yield
      %footer.row.text-center
        %p (C) EasyShelf 2019
